node_modules/
.next/
out/
.open-next/
.wrangler/

.env
.env.local
.env.*.local

prisma/*.db
prisma/*.db-journal
prisma/**/*.db
prisma/**/*.db-journal

uploads/
storage/
public/uploads/

.DS_Store
Thumbs.db

*.zip
